





// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    VARIABLEs
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    VARIABLEs
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    VARIABLEs
$mainLogoIMG: "Logos/logo-block-shop.png"; // BLOCK SHOP logo location
$logoName: "Block Shop";
$headerBoxColor: #FFDB78; // main container bkgd color
$mainHeaderIMG: "photos/product-2.png";

$searchBoxColor: #FFFFFF;
$searchBoxOutline: #dcdbdb;
$searchBarIMG-static: "Icons/search-light.png";
$searchBarIMG-selected: "Icons/search-selected.png";
$searchBarIMG-transition: .2s;

$mainHeaderIMGPercentageWEB: 90% 100%; // positioning % for mainHeader bkgd image for RESPONSIVE DESIGN >441px
$mainHeaderIMGPercentageAPP: 50% 100%;// positioning % for mainHeader bkgd image for RESPONSIVE DESIGN <440px

$fontOne: "Circular San";
$buttonLeftIMG: "Icons/left-arrow.png";
$buttonRightIMG: "Icons/right-arrow.png";
$callToActionBTNColor: #262930;
$callToActionTextColor: #FFFFFF;
$floatBoxDisplayIMG-1: "photos/product-1.png";
$floatBoxDisplayIMG-2: "photos/product-3.png";
$floatBoxDisplayIMG-3: "photos/room-1.png";
$floatBoxDisplayPadding: 10px;
$floatBoxDisplayPaddingSmall: 5px;

$starSelected: "Icons/star-rate selected.png";
$starUnselected: "Icons/star-rate.png";

$largeDisplayBox-1: "photos/room-2.png";
$largeDisplayBox-2: "photos/room-3.png";
$largeDisplayBox-3: "photos/room-4.png";
$largeDisplayBox-W: 380px;
$largeDisplayBox-H: 540px;
$marginDisplayBox: 75px;
$largeDisplayBox-W-APP: 342px;
$largeDisplayBox-H-APP: 417px;


$FaceBookIcon: "Icons/socialMedia/socialMedia-FaceBook.jpg"; // Social Media Icons - FB link
$FaceBookIconHover: "Icons/socialMedia/socialMedia-FaceBook-HOVER.jpg"; // Social Media Icons - FB link
$InstagramIcon: "Icons/socialMedia/socialMedia-Instagram.jpg"; // Social Media Icons - Instagram link
$InstagramIconHover: "Icons/socialMedia/socialMedia-Instagram-HOVER.jpg"; // Social Media Icons - Instagram link
$PintrestIcon: "Icons/socialMedia/socialMedia-Pintrest.jpg"; // Social Media Icons - Fintrest link
$PintrestIconHover: "Icons/socialMedia/socialMedia-Pintrest-HOVER.jpg"; // Social Media Icons - Pintrest link
$TwitterIcon: "Icons/socialMedia/socialMedia-Twitter.jpg"; // Social Media Icons - Instagram link
$TwitterIconHover: "Icons/socialMedia/socialMedia-Twitter-HOVER.jpg"; // Social Media Icons - Twitter link





// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    MIXINs
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    MIXINs
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    MIXINs
// IMPORTS FONT AND GIVE EMPLY VAR

@mixin customeFont01($font-family, $file-path) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.otf');
    }
}

@mixin searchBoxIcon{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($searchBarIMG-static);
    size: 23px;
    repeat:no-repeat;
    position: 25px;
    }
    clear: none;
    position:relative;
}

@mixin searchBoxIconGrow{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($searchBarIMG-static);
    size: 35px;
    repeat:no-repeat;
    position: 22px;
    }
    clear: none;
    position:relative;
}

@mixin buttonLeft{
  background: { // SCALES AND REPOSITIONS THE LEFT BUTTON
    image: url($buttonLeftIMG);
    size: 55px;
    repeat:no-repeat;

    }
    float: left;
    position:relative;
    clear: none;
}

@mixin buttonRight{
  background: { // SCALES AND REPOSITIONS THE LEFT BUTTON
    image: url($buttonRightIMG);
    size: 55px;
    repeat:no-repeat;
    }
    position:relative;
    clear: none;
}

@mixin floatBlockDisplayIMG-1{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($floatBoxDisplayIMG-1);
    size: 227px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: both;
    position:relative;
}

@mixin floatBlockDisplayIMG-2{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($floatBoxDisplayIMG-2);
    size: 227px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: both;
    position:relative;
}

@mixin floatBlockDisplayIMG-3{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($floatBoxDisplayIMG-3);
    size: 227px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: both;
    position:relative;
}

@mixin starSelected{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($starSelected);
    size: 15px;
    repeat:no-repeat;
    }
    clear: none;
    position:relative;
    object-fit:scale-down;
}

@mixin starUnselected{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($starUnselected);
    size: 15px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: none;
    position:relative;
    object-fit:scale-down;
}

@mixin largeDisplayBox-1{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($largeDisplayBox-1);
    size: 452px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: none;
    position:relative;
}

@mixin largeDisplayBox-2{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($largeDisplayBox-2);
    size: 452px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: none;
    position:relative;
}

@mixin largeDisplayBox-3{
  background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
    image: url($largeDisplayBox-3);
    size: 452px;
    repeat:no-repeat;
    //position: 22px;
    }
    clear: none;
    position:relative;
}

@mixin diffHeaderBodyText{
  .headerBodyText{ // TEXT UNDER HEADER TITLE INSIDE HEADER AREA AT TOP OF STAGE
    width:inherit;
    height:160px;
    float: left;
    margin-top: 26px;
    clear:both;
    line-height: 160%;
      font:{
        family: 'Source Sans Pro', sans-serif;
        size: 16px;
      }

      .short-text { display: inline-block; }
      .full-text { display: none; }
  }
}

@mixin searchIconTransition{
  transition: background $searchBarIMG-transition ease-in-out;
 -webkit-transition: background $searchBarIMG-transition ease-in-out;
 -moz-transition: background $searchBarIMG-transition ease-in-out;
 -ms-transition: background $searchBarIMG-transition ease-in-out;
 -o-transition: background $searchBarIMG-transition ease-in-out;
}


@mixin socialMediaLinksProperties{
    width: 32px;
    height: 32px;
    clear: none;
    float: left;
    background-repeat: no-repeat;
    margin-left: -5px;

}

@mixin midBlockIMG-App{
width: 160px;
height:160px;
margin:5px;
position: relative;
}

@mixin largeDisplayBoxAPP-placement{
  margin:15px 0px 0px 20px;
}




// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    DESIGN
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    DESIGN
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    DESIGN
.frameContainer { // MAIN CONTAINER FOR CONTENTS
  width:1440px;
  height: 2100px;
  background-color: white;
  outline: 1px solid black;
  margin: 10px auto;
  position:relative;
  display: block;
};


.mainHeaderContainer{ // THE BOX AT THE TOP OF THE STAGE
  width: 1392px;
  height: 774px;
  margin:24px;
  display: block;
  position: relative;

    background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
                  // SETS BACKGROUND COLOR FOR BOX AT TOP OF THE STAGE
      size: 40%;
      repeat:no-repeat;
      position:$mainHeaderIMGPercentageWEB ;
      color: $headerBoxColor;
      image: url($mainHeaderIMG);
    }
  overflow-x: hidden;
  object-fit:scale-down;
  float: left;
  clear:both;








      .leftBlock{ // THE BOX FLOATING LEFT INSIDE mainHeaderContainer
                // CONTAINS LOGO - TITLE - BODY TEXT - SEARCHBOX
                width: 100%;
                margin-left: 190px;
                float: left;



          .mainLogoAndSearchContainer{  //  MAIN CLIENT LOGO
            // container for logo image and search icon
            width:inherit;
            height: auto;
            float: left;
            margin-top: 45px;
            padding-bottom: 100px;
            clear:both;
            vertical-align: middle;
            position: relative;


                      .mainLogo{  //  MAIN CLIENT LOGO
                        // logo image for client
                        width:208px;
                        height: 25px;
                        background-image: url($mainLogoIMG);
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin-top: 10px;
                        float: left;
                        clear:none;

                      }

                      .mainSearchIcon{  //  MAIN CLIENT LOGO
                        // image for search
                        width: 25px;
                        height: 25px;
                        background-size: 25px;
                        background-image: url($searchBarIMG-selected);
                        background-repeat: no-repeat;
                        float: left;
                        margin-left:840px;
                        clear:none;
                      }

          }  //   END MAINLOGOANDSEARCHCONTAINER


          .headerTitle{ // HEADER TEXT INSIDE OF AREA AT TOP OF STAGE
            height:auto;
            width:507px;
            font-size: 56px;
            padding-bottom: 26px;
            float: left;
            clear:both;
              @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');

          }

          .headerBodyText{ // TEXT UNDER HEADER TITLE INSIDE HEADER AREA AT TOP OF STAGE
            width: 380px;
            height:160px;
            line-height: 160%;
            font-size:18px;
            padding-bottom: 0px;
            float: left;
            clear:both;

              font:{
                family: 'Source Sans Pro', sans-serif;
              }


              .web-text { display: inline-block; }  // IF SCREEN IS SMALL THIS SPAN RENDERS
              .app-text { display: none; }  // IF SCREEN IS SMALL THIS SPAN DOESN"T RENDER



              /* MEDIA SCREEN CONDITIONALS HAVE.web-text { display: inline-block; }
              .app-text { display: none; }
              CODE WHICH CHANGES HTML SPAN TEXT DEPENDING ON SCREEN SIZE
              */
            }     // END HEADERBODYTEXT



              // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    SEARCH BOX
              // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    SEARCH BOX
              // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    SEARCH BOX

              .headerSearch{
                  clear: both;
                  margin: 0px 0px 0px -20px;



                      .searchBox input#search{  // SEARCH BOX
                        width: 425px;
                        height: 68px;
                        font-size: 12pt;
                        background: $searchBoxColor;
                        border: 0px $searchBoxOutline solid;
                        float: left;
                        color: black;
                        padding-left: 70px;
                        @include searchBoxIcon;
                        @include searchIconTransition;

                      }  ///   END SEARCHBOX INPUT

                    .searchBox .icon{  // MAGNIFYING GLASS IMAGE INSIDE OF SEARCH BOX
                      float:left;
                      margin:35px 0px 0px 20px;
                      z-index: 1;

                      @include searchBoxIcon;

                    }   ///   END SEARCHBOX ICON

                    .searchBox input#search:hover{  // MAGNIFYING GLASS TRANSITIONS - SCALES

                        @include searchBoxIconGrow;
                      }   ///    END SEARCHBOX INPUT HOVER

              } /////////   END HEADERSEARCH


  }  //   END LEFTBLOCK

}  // ---END MAINHEADERCONTAINER GLOBAL
////////////////////////////////////////////////////////////  END MAINHEADERCONTAINER SECTION
////////////////////////////////////////////////////////////  END MAINHEADERCONTAINER SECTION
////////////////////////////////////////////////////////////  END MAINHEADERCONTAINER SECTION



////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION
////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION
////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION

.midBlock{ // CONTAINER FOR CONTENTS BELOW mainHEaderBox
  width: 1440px;
  height: auto;
  clear:both;
  float: left;
  position: relative;
  display: block;
  padding-bottom: 130px;


          .floatBoxContainer{ // CONTAINER FOR MIDBLOCK CONTENT
              width: 1125px;
              height:inherit;
              background-color: white;
              margin:auto;


                      .floatBoxDiscription{ // CONTAINER FOR MIDBLOCK CONTENT
                          width: 262px;
                          height:inherit;
                          float:left;



                                  .midTextHeader{ // HEADER TEXT INSIDE OF MID AREA
                                    width:100%;
                                    height:auto;
                                    padding-bottom: 25px;
                                    float: left;
                                    font-size: 34px;
                                    clear:both;
                                      @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');

                                  }

                                  .midTextBody{ // BODY TEXT INSIDE OF MID AREA
                                    width:100%;
                                    height:auto;
                                    //margin-top: 135px;
                                    padding-bottom: 35px;
                                    float: left;
                                    font-size: 16px;
                                    clear:both;
                                      @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');
                                  }


                                  .leftRightContainer{
                                    width: 135px;
                                    height: 55px;
                                    padding-bottom:64px;
                                    clear: both;

                                          .leftButton{
                                            width: 55px;
                                            height: inherit;
                                            clear:none;
                                            opacity: 50%;
                                            @include buttonLeft;
                                              &:hover{
                                                opacity:100%;
                                              } // END HOVER

                                          }//  END LEFTBUTTON

                                          .rightButton{
                                            width: 55px;
                                            height: inherit;
                                            float:right;
                                            clear:none;
                                            opacity: 50%;
                                            @include buttonRight;
                                              &:hover{
                                                opacity:100%;
                                              } // END HOVER

                                          }  ///   END RIGHTBUTTON


                                  }  ///   END LEFTRIGHTCONTAINER


                                  .callToAction{
                                    width: 215px;
                                    height: 55px;
                                    background-color: $callToActionBTNColor;
                                    float:left;
                                    clear:none;
                                      font{
                                        family: $fontOne;
                                        size:30px;
                                      }
                                      color: $callToActionTextColor;
                                      text-align: center;
                                      vertical-align: middle;
                                      line-height: 55px;
                                  }  ////  END CALLTOACTION


                      }  //// END FLOATBOXDISCRIPTION











                      .floatBoxDisplayContainer{ // CONTAINER FOR MIDBLOCK CONTENT
                                      width: 227px;
                                      height:inherit;
                                      float:right;
                                      padding-left: $floatBoxDisplayPadding;


                                      .floatBoxTitleText{
                                        width: 227px;
                                        height:auto;
                                        padding-bottom: 12px;
                                        clear: both;
                                          font:{
                                            font-family: CircularStd-Bold;
                                            weight: bold;
                                            size: 18px;
                                          }
                                      }  //     END floatBoxTitleText


                                      .floatDisplayBox{
                                        width: 227px;
                                        height:15px;
                                        padding-bottom: 8px;
                                        clear:both;


                                                .starSelected{
                                                  width: 15px;
                                                  height:15px;
                                                  clear:none;
                                                  float:left;
                                                  @include starSelected;
                                                }
                                                .starUnselected{
                                                  width: 15px;
                                                  height:15px;
                                                  clear:none;
                                                  float:left;
                                                  @include starUnselected;
                                                }

                                      }   //     END FLOATDISPLAYBOX

                                      /////////////////////////////////////  MID SECTION IMAGES
                                      ////////////////////////////////////
                                      .floatBoxDisplayIMG-1{ // CONTAINER FOR MIDBLOCK CONTENT
                                          width: 227px;
                                          height:225px;
                                          float:right;
                                          @include floatBlockDisplayIMG-1;
                                          padding-bottom: 12px;
                                      }

                                      .floatBoxDisplayIMG-2{ // CONTAINER FOR MIDBLOCK CONTENT
                                          width: 227px;
                                          height:225px;
                                          float:right;
                                          @include floatBlockDisplayIMG-2;
                                          padding-bottom: 12px;
                                      }

                                      .floatBoxDisplayIMG-3{ // CONTAINER FOR MIDBLOCK CONTENT
                                          width: 227px;
                                          height:225px;
                                          float:right;
                                          @include floatBlockDisplayIMG-3;
                                          padding-bottom: 12px;
                                      }


                                      .floatSmallBox{
                                        width: 227px;
                                        height:15px;
                                        padding-bottom: 8px;
                                        clear:both;
                                        font-size:15px;
                                      } //   END FLOATBOXSMALL

                      }  /// END FLOATBOXDISPLAYCONTAINER

      }  //// END FLOATBOXCONTAINER


///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES
///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES
///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES

  .largeDisplayContainer{

    clear: both;

      .largeDisplayBox-1{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W;
        height:$largeDisplayBox-H;
        float:left;
        margin-left: $marginDisplayBox;
        padding-bottom: 8px;
        clear:none;
          @include largeDisplayBox-1;
      }

      .largeDisplayBox-2{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W;
        height:$largeDisplayBox-H;
        float:left;
        margin-left: $marginDisplayBox;
        padding-bottom: 8px;
        clear:none;
          @include largeDisplayBox-2;
      }

      .largeDisplayBox-3{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W;
        height:$largeDisplayBox-H;
        padding-bottom: 8px;
        margin-left: $marginDisplayBox;
        float:left;
        clear:none;

          @include largeDisplayBox-3;
      }

      .largeDisplayText{
        margin: 50px 0px 0px 50px;
        color: white;
        font:{
          family: 'Source Sans Pro', sans-serif;
          size: 30px;
        }

      }

    }// END LARGEDISPLAYCONTAINER

}  ///      END MIDBLOCK 1


///////////////////////////////////////////////////////   BEGIN FOOTER
///////////////////////////////////////////////////////   BEGIN FOOTER
///////////////////////////////////////////////////////   BEGIN FOOTER
.footerContainerBox{
  width: inherit;
  height: 124px;
  color: #495165;
  float: left;
  position: relative;
  font-size: 30px;
  @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');

          .footerIdentifyContainer{

            width: 220px;
            height: auto;
            font-size: 12px;
            float: left;
            margin-left: 120px;

                    .mainLogoFooter{
                      // logo image for client
                      width:208px;
                      height: 18px;
                      background-image: url($mainLogoIMG);
                      background-repeat: no-repeat;
                      background-size: contain;
                      margin-top: 10px;
                      clear:both;
                      position: relative;
                    } //   END mainLogoFooter

                    .footerCopyright{

                      line-height: 100%;
                      margin-top: 50px;
                    }// END FOOTERCOPYRIGHT

          } //  END footerIdentifyContainer

          .footerBlock{
            width:136px;
            height: 100px;
            font-size: 16px;
            float: right;
            line-height: 180%;
            padding-right: 100px;

                  .footerTitle{
                    font-weight: bold;
                    float: left;
                    clear: both;
                  } //   END footerTitle

                  .footerLink{
                    clear: both;
                    float: left;
                      &:hover{
                        color:$headerBoxColor;
                      }
                  } //   END FOOTERLink


                  .socialMediaIconsContainer{
                    width: 170px;
                    height: 32px;
                    clear: both;
                    float: left;

                        .socialMediaBox{
                          width: 32px;
                          height: 32px;
                          display: inline-block;
                          padding: 0px 5px;


                              .socialMediaIcons-Facebook {
                                 background-image: url($FaceBookIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($FaceBookIconHover);
                                 }
                              } //  END GB IMAGE STYLE

                              .socialMediaIcons-Pintrest {
                                 background-image: url($PintrestIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($PintrestIconHover);
                                 }
                              }//  END PINTREST IMAGE STYLE

                              .socialMediaIcons-Instagram {
                                 background-image: url($InstagramIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($InstagramIconHover);
                                 }
                              }//  END INSTAGRAM IMAGE STYLE

                              .socialMediaIcons-Twitter {
                                 background-image: url($TwitterIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($TwitterIconHover);
                                 }
                              }//  END TWITTER IMAGE STYLE

                      }  // END SOCIALMEDIABOX



                  }//   END SOCIALMEDIAICONSCONTAINER

          } //   END FOOTERBLOCK




}//   END FOOTERCONTAINERBOX








// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    RESPONSIVE DESIGN
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    RESPONSIVE DESIGN
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    RESPONSIVE DESIGN

@media only screen and (max-width:540px){  // ----  APP

    .frameContainer{
      width:385px;
      height: 3300px;

    }


    .mainHeaderContainer{ // THE BOX AT THE TOP OF THE STAGE
      width: 343px;
      height: 737px;

        background: { // SCALES AND REPOSITIONS THE BACKGROUND IMAGE
                      // SETS BACKGROUND COLOR FOR BOX AT TOP OF THE STAGE
          size: 65%;
          repeat:no-repeat;
          position:$mainHeaderIMGPercentageAPP ;
          color: $headerBoxColor;
          image: url($mainHeaderIMG);
        }

        .leftBlock{ // THE BOX FLOATING LEFT INSIDE d_mainHeaderBox
                      // CONTAINS LOGO - TITLE - BODY TEXT - SEARCHBOX
          width: 268px;
          margin-left: 25px;


                    .mainLogoAndSearchContainer{  //  MAIN CLIENT LOGO
                      // logo image for client
                      width: 295px;
                      height: 25px;
                      clear:both;
                      margin-top: 40px;
                      padding-bottom: 64px;

                                .mainLogo{  //  MAIN CLIENT LOGO
                                  // logo image for client
                                  width:208px;
                                  height: 14px;
                                  background-image: url($mainLogoIMG);
                                  background-size: contain;
                                  margin-top: 8px;
                                  float: left;
                                  clear:none;
                                }
                                .mainSearchIcon{  //  MAIN CLIENT LOGO
                                  // logo image for client
                                  height: 25px;
                                  width: 25px;
                                  background-size: contain;
                                  background-image: url($searchBarIMG-selected);
                                  float: right;
                                  clear:none;
                                }

                    }  //   END MAINLOGOANDSEARCHCONTAINER

                    .headerTitle{ // HEADER TEXT INSIDE OF AREA AT TOP OF STAGE
                      width:293px;
                      font-size: 40px;
                      padding-bottom: 38px;
                    }

                    .headerBodyText{ // TEXT UNDER HEADER TITLE INSIDE HEADER AREA AT TOP OF STAGE
                      width:293px;
                      height:auto;
                      line-height: 160%;
                      font-size:18px;
                      padding-bottom: 0px;

                      .web-text { display: none; }  // IF SCREEN IS SMALL THIS SPAN DOESN"T RENDER
                      .app-text { display: inline-block; }  // IF SCREEN IS SMALL THIS SPAN RENDERS

                    }  // END HEADERBODYTEXT

                    .headerSearch{
                    clear: both;
                    margin: 0px;

                          .searchBox input#search{  // SEARCH BOX
                            width: 293px;
                            height: 70px;
                            font-size: 12pt;
                            float: left;
                            padding-left: 60px;
                            @include searchBoxIcon;
                            @include searchIconTransition;
                          }

                      }  //   END HEADERSEARCH

        }  //   END LEFTBLOCK

    } // ---END MAINHEADERCONTAINER for APP
////////////////////////////////////////////////////////////  END OF HEADER AREA
////////////////////////////////////////////////////////////  END OF HEADER AREA
////////////////////////////////////////////////////////////  END OF HEADER AREA




////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION
////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION
////////////////////////////////////////////////////////////  BEGIN MIDDLE SECTION
.midBlock{ // CONTAINER FOR CONTENTS BELOW mainHEaderBox
  width: 386px;
  height: auto;
  clear:both;
  float: left;
  position: relative;
  display: block;
  padding-bottom: 130px;
  //background-color: white;

          .floatBoxContainer{ // CONTAINER FOR MIDBLOCK CONTENT
              width: 350px;
              height:auto;

              margin:auto;
              .seeLarge { display: none; }
              .hideSmall { display: none; }


                      .floatBoxDiscription{ // CONTAINER FOR MIDBLOCK CONTENT
                          width: 350px;
                          height:inherit;

                          margin: auto;
                          //float:left;



                                  .midTextHeader{ // HEADER TEXT INSIDE OF MID AREA
                                    width:100%;
                                    height:auto;
                                    padding-bottom: 25px;
                                    text-align: center;
                                    font-size: 34px;
                                    clear:both;

                                      @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');

                                  }

                                  .midTextBody{ // BODY TEXT INSIDE OF MID AREA
                                    width:100%;
                                    height:auto;
                                    text-align: center;
                                    padding-bottom: 35px;
                                    float: left;
                                    font-size: 16px;
                                    clear:both;
                                      @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');
                                  }


                                  .leftRightContainer{
                                    width: 135px;
                                    height: 55px;
                                    padding-bottom:64px;
                                    clear: both;
                                    margin: auto;

                                          .leftButton{
                                            width: 55px;
                                            height: inherit;
                                            clear:none;
                                            opacity: 50%;
                                            @include buttonLeft;
                                              &:hover{
                                                opacity:100%;
                                              } // END HOVER

                                          }//  END LEFTBUTTON

                                          .rightButton{
                                            width: 55px;
                                            height: inherit;
                                            float:right;
                                            clear:none;
                                            opacity: 50%;
                                            @include buttonRight;
                                              &:hover{
                                                opacity:100%;
                                              } // END HOVER

                                          }  ///   END RIGHTBUTTON


                                  }  ///   END LEFTRIGHTCONTAINER


                                  .callToAction{
                                    width: 215px;
                                    height: 55px;
                                    background-color: $callToActionBTNColor;
                                    margin: 300px 0px 0px 67px;
                                    position: absolute;
                                    clear:none;
                                      font{
                                        family: $fontOne;
                                        size:30px;
                                      }
                                      color: $callToActionTextColor;
                                      text-align: center;
                                      vertical-align: middle;
                                      line-height: 55px;
                                  }  ////  END CALLTOACTION


                      }  //// END FLOATBOXDISCRIPTION











                      .floatBoxDisplayContainer{ // CONTAINER FOR MIDBLOCK CONTENT
                                      width: 160px;
                                      height: 249px;
                                      height:inherit;
                                      display: inline-block;
                                      position: relative;
                                      padding-bottom:50px;
                                      //margin: 0px 3px;
                                      //padding-left: $floatBoxDisplayPaddingSmall;
                                      //outline: 1px solid black;



                                      .floatBoxTitleText{
                                        width: 160px;
                                        height:auto;
                                        padding-bottom: 12px;
                                        clear: both;
                                          font:{
                                            font-family: CircularStd-Bold;
                                            weight: bold;
                                            size: 12px;
                                          }
                                      }  //     END floatBoxTitleText


                                      .floatDisplayBox{
                                        width: 160px;
                                        height:15px;
                                        padding-bottom: 8px;
                                        clear:both;


                                                .starSelected{
                                                  width: 15px;
                                                  height:15px;
                                                  clear:none;
                                                  float:left;
                                                  @include starSelected;
                                                }
                                                .starUnselected{
                                                  width: 15px;
                                                  height:15px;
                                                  clear:none;
                                                  float:left;
                                                  @include starUnselected;
                                                }

                                      }   //     END FLOATDISPLAYBOX

                                      /////////////////////////////////////  MID SECTION IMAGES
                                      ////////////////////////////////////
                                      .floatBoxDisplayIMG-1{ // CONTAINER FOR MIDBLOCK CONTENT
                                          @include midBlockIMG-App;
                                          @include floatBlockDisplayIMG-1;
                                          padding-bottom: 12px;
                                      }

                                      .floatBoxDisplayIMG-2{ // CONTAINER FOR MIDBLOCK CONTENT
                                          @include midBlockIMG-App;
                                          @include floatBlockDisplayIMG-2;
                                          padding-bottom: 12px;
                                      }

                                      .floatBoxDisplayIMG-3{ // CONTAINER FOR MIDBLOCK CONTENT
                                          @include midBlockIMG-App;
                                          @include floatBlockDisplayIMG-3;
                                          padding-bottom: 12px;
                                      }


                                      .floatSmallBox{
                                        width: 227px;
                                        height:15px;
                                        padding-bottom: 8px;
                                        clear:both;
                                        font-size:15px;
                                      } //   END FLOATBOXSMALL

                      }  /// END FLOATBOXDISPLAYCONTAINER

      }  //// END FLOATBOXCONTAINER


///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES
///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES
///////////////////////////////////////////////BEGIN MIDBLOCK LARGE IMAGES

  .largeDisplayContainer{

    clear: both;


      .largeDisplayBox-1{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W-APP;
        height:$largeDisplayBox-H-APP;
        margin:10px;

        position: absolute;
        clear:both;
          @include largeDisplayBoxAPP-placement;
          @include largeDisplayBox-1;
      }

      .largeDisplayBox-2{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W-APP;
        height:$largeDisplayBox-H-APP;
        @include largeDisplayBoxAPP-placement;
          @include largeDisplayBox-2;
      }

      .largeDisplayBox-3{ // IMAGE BOX WITH TEXT AT TOP
        width: $largeDisplayBox-W-APP;
        height:$largeDisplayBox-H-APP;
        @include largeDisplayBoxAPP-placement;
          @include largeDisplayBox-3;
      }

      .largeDisplayText{
        margin: 50px 0px 0px 50px;
        color: white;
        font:{
          family: 'Source Sans Pro', sans-serif;
          size: 30px;
        }

      }

    }// END LARGEDISPLAYCONTAINER

}  ///      END MIDBLOCK 1


///////////////////////////////////////////////////////   BEGIN FOOTER
///////////////////////////////////////////////////////   BEGIN FOOTER
///////////////////////////////////////////////////////   BEGIN FOOTER
.footerContainerBox{
  width: 386px;
  height: auto;
  color: #495165;
  //position: relative;
  font-size: 30px;
  @include customeFont01(CircularStd-Bold, 'Circular_Sans/CircularStd-Bold');

          .footerIdentifyContainer{

            width: auto;
            height: auto;
            font-size: 12px;

            display: block;

            margin-left: 90px;
            text-align: center;

                    .mainLogoFooter{
                      // logo image for client
                      //width:208px;
                      padding-bottom: 40px;
                      height: 18px;
                      background-image: url($mainLogoIMG);
                      background-repeat: no-repeat;
                      background-size: contain;
                      //margin-top: 10px;
                      //clear:both;
                      //position: relative;
                    } //   END mainLogoFooter

                    .footerCopyright{

                      line-height: 100%;
                      margin-top: 250px;
                      margin-left: 40px;
                      position: absolute;
                    }// END FOOTERCOPYRIGHT

          } //  END footerIdentifyContainer

          .footerBlock{
            width:80px;
            height: 100px;
            font-size: 16px;
            line-height: 180%;
            display: inline-block;

                  .footerTitle{
                    font-weight: bold;
                    float: left;
                    clear: both;
                  } //   END footerTitle

                  .footerLink{
                    clear: both;
                    float: left;
                      &:hover{
                        color:$headerBoxColor;
                      }
                  } //   END FOOTERLink



                  .socialMediaIconsContainer{
                    width: 170px;
                    height: 32px;
                    clear: both;
                    float: left;

                        .socialMediaBox{
                          width: 32px;
                          height: 32px;
                          display: inline-block;
                          padding: 0px 5px;


                              .socialMediaIcons-Facebook {
                                 background-image: url($FaceBookIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($FaceBookIconHover);
                                 }
                              } //  END GB IMAGE STYLE

                              .socialMediaIcons-Pintrest {
                                 background-image: url($PintrestIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($PintrestIconHover);
                                 }
                              }//  END PINTREST IMAGE STYLE

                              .socialMediaIcons-Instagram {
                                 background-image: url($InstagramIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($InstagramIconHover);
                                 }
                              }//  END INSTAGRAM IMAGE STYLE

                              .socialMediaIcons-Twitter {
                                 background-image: url($TwitterIcon);
                                 @include socialMediaLinksProperties;

                                 &:hover {
                                    background-image: url($TwitterIconHover);
                                 }
                              }//  END TWITTER IMAGE STYLE

                      }  // END SOCIALMEDIABOX



                  }//   END SOCIALMEDIAICONSCONTAINER

          } //   END FOOTERBLOCK




}//   END FOOTERCONTAINERBOX


}  ///     END     @media only screen and (max-width:440px)
